* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background:black;
  color:white;
}

/*
|--------------------------------------------------------------------------
| Partials
|--------------------------------------------------------------------------
*/

.nav{
  height:10vh;
  border:1px solid red;
}

.end{
  height:10vh;
  border:1px solid blue;
}

/*
|--------------------------------------------------------------------------
| Main Turntable Components
|--------------------------------------------------------------------------
*/

.turntable{
  border:1px solid white;
  display:flex;
  justify-content:space-between;;
  flex-wrap:wrap;
}

.tb-half{
  height:70vh;
  width:49vw;
  /* display:inline-block; */
  border:1px solid purple;
  display:flex;
}

.tb-left{
  flex-direction:row;
}

.tb-right{
  flex-direction:row-reverse;
}

.tb-disc{
  height:100%;
  width:60%;
}

.tb-knobs{
  height:100%;
  width:50%;
}

.crossfader{
  height:10vh;
  width:100vw;
  border:1px solid green;
}

/*
|--------------------------------------------------------------------------
| Turntable Parts
|--------------------------------------------------------------------------
*/

.fx{
  /* width:50%; */
  height:15%;
  border:1px solid brown;
}

.vinyl{
  /* width:50%; */
  height:55%;
  border:1px solid orange;
}

.drum-pads{
  /* width:50%; */
  height:30%;
  border:1px solid pink;
}

.eq{
  height:50%;
  border:1px solid white;
}

.sliders{
  height:50%;
  border:1px solid red;
}

/*
|--------------------------------------------------------------------------
| Turntable Items
|--------------------------------------------------------------------------
*/

.jog-wheel{
  width:70%;
  height:100%;
  /* border:1px solid white; */
  background:gray;
  border-radius:50%;
  margin:0 auto;
  position: relative;
}

.jog-wheel::before{
  content:"";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 10px 0 10px;
  border-color: #111 transparent transparent transparent;
  top:0;
  left:45%;
}

.play, .stop{
  border:2px solid blue;
  width:50%;
  text-align:center;
  padding:10px;
}
.play::before{
  content:"Play";
  /* padding:20px; */
}

.stop::before{
  content:"Stop";
}

.volume-slider{
  background:blue;
}