/*
|--------------------------------------------------------------------------
| Initializing Normalize
|--------------------------------------------------------------------------
*/

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background:black;
  color:white;
}

a{
  text-decoration:none;
}

/*
|--------------------------------------------------------------------------
| Partials
|--------------------------------------------------------------------------
*/

.nav{
  height:10vh;
  border-bottom:1px solid white;
  display:flex;
  justify-content: flex-end;
  align-items:center;
}

.nav-link{
  border:1px solid white;
  margin:0 10px;
  padding:7px 0;
  width:10%;
  height:50%;
  /* float:right; */
  text-align:center;
  border-radius:3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dj-link{
  margin-right:auto;
}

.dj-title{
  margin-right:auto;

}

.end{
  height:10vh;
  /* border:1px solid blue; */
}

/*
|--------------------------------------------------------------------------
| Main Turntable Components
|--------------------------------------------------------------------------
*/

.turntable{
  /* border:1px solid white; */
  display:flex;
  justify-content:space-between;;
  flex-wrap:wrap;
  height:90vh;
  width:100vw;
}

.tb-half{
  height:100%;
  width:50vw;
  /* border:1px solid purple; */
  display:flex;
}

.tb-left{
  flex-direction:row;
}

.tb-right{
  flex-direction:row-reverse;
}

.tb-disc{
  height:100%;
  width:60%;
}

.tb-knobs{
  height:100%;
  width:50%;
}

.tb-title{
  text-align:center;
  margin-bottom:10px;
}

.crossfader{
  position:absolute;
  bottom:0;
  left:35%;
  /* height:10vh; */
  width:30vw;
  /* border:1px solid green; */
}

/*
|--------------------------------------------------------------------------
| Turntable Parts
|--------------------------------------------------------------------------
*/
.fx, .vinyl, .drum-pads, .eq, .sliders{padding:10px;}

.fx{
  height:15%;
  display:flex;
  /* border:1px solid brown; */
}

.vinyl{
  height:55%;
  /* border:1px solid orange; */
}

.drum-pads{
  height:30%;
  /* border:1px solid pink; */
  display:flex;
  /* flex-wrap:wrap; */
  flex-direction: column;
  align-content: space-between;
}

.eq{
  height:50%;
}

.sliders{
  height:40%;
  /* border:1px solid red; */
}

/*
|--------------------------------------------------------------------------
| Turntable Items
|--------------------------------------------------------------------------
*/

.jog{height:100%;}
.jog-wheel{
  width:70%;
  height:50%;
  background:gray;
  border-radius:50%;
  margin:0 auto;
  position: relative;
}

.jog-wheel::before{
  content:"";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 10px 0 10px;
  border-color: #111 transparent transparent transparent;
  top:0;
  left:45%;
}

/*
|--------------------------------------------------------------------------
| Drum Pad Items
|--------------------------------------------------------------------------
*/

.playback{
  display: flex;
  /* padding:10px 0; */
  justify-content: space-between;
}

.play, .pause, .stop{
  width:40%;
  text-align:center;
  padding:5px;
  border-radius:5px;
}

.play{
  border:2px solid green;
  color:green;
}

.pause{
  border:2px solid blue;
  color:blue;
}

.stop{
  border:2px solid red;
  color:red;
}

.play:hover, .stop:hover, .pause:hover{
  color:white;
  cursor:pointer;
}

.play:hover{
  background:green;
}

.pause:hover{
  background:blue;
}

.stop:hover{
  background:red;
}

.play::before{
  content:"Play";
}

.pause::before{
  content:"Pause";
}

.stop::before{
  content:"Stop";
}

.sample-deck{
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
  height:60%;
}

.pads{
  border:1px solid white;
  width:22%;
  height:40%;
  border-radius:3px;
  outline:none;
}

.pads:hover{
  cursor:pointer;
  background:white;
  color:black;
}

/*
|--------------------------------------------------------------------------
| EQ Items
|--------------------------------------------------------------------------
*/

.slider-bar{
  /* border:1px solid white; */
  width:25%;
  height:85%;
}

/* sliders */
.eq-section{
  height:33%;
  display:flex;
  justify-content:flex-end;
}

.eq-description{
  text-align:left;
  width:25%;
}

.eq-left{
  flex-direction:row;
}

.eq-right{
  flex-direction:row-reverse;
}

.eq-subtitle{
  text-align:center;
}

.eq-slider{
  /* border:1px solid white; */
}
/*
.highpass{
  background:rgba(255,0,0,.3)
}

.lowpass{
  background:rgba(0,255,0,.3)
}

.bandpass{
  background:rgba(0,0,255,.3)
} */

/* range slider */
.rangeslider__labels{width:0;height:0 !important;}
.rangeslider-vertical{background:#444 !important;height:100% !important;margin:0 auto !important;}
.rangeslider-horizontal {
    /* height: 12px; */
    border-radius: 0;
}
.rangeslider-vertical .rangeslider__handle{
  background: #555 !important;
  border: 2px solid #999 !important;
  border-radius: 2px !important;
  }
  .rangeslider-horizontal .rangeslider__handle{
  width:10px;
  background: #555 !important;
  border: 2px solid #999 !important;
  border-radius: 2px !important;
  }

  .rangeslider-horizontal .rangeslider__handle:after {width:0;}
.rangeslider__fill{ background:#ccc !important;}

.freq .rangeslider__fill{ background:red !important;}
.Q .rangeslider__fill{ background:green !important;}
.detune .rangeslider__fill{ background:blue !important;}


/*
|--------------------------------------------------------------------------
| FX Items
|--------------------------------------------------------------------------
*/

.fx-section{
  /* height:33%; */
  width:50%;
  display:flex;
  justify-content:flex-end;
}

.fx-slider-bar{
  /* border:1px solid white; */
  width:50%;
  height:85%;
}

/*
|--------------------------------------------------------------------------
| Register/Login Forms
|--------------------------------------------------------------------------
*/

.register, .login{
  display:flex;
  justify-content:center;
  align-items:center;
  height:90vh;
}

.register-form, .login-form{
  display:flex;
  flex-wrap:wrap;
  padding:20px 50px;
  width:50%;
  position: relative;
  z-index:10;
}

.register-form{
  border:2px solid #1db6b6;
}

.login-form{
  border:2px solid #9bf09d;
}

/* .register-form::before, .login-form::before{
  content:"";
  position: absolute;
  border-bottom:2px solid #1db6b6;
  border-left:2px solid #1db6b6;
  height:30%;
  width:40%;
  bottom:0;
  left:0;
} */
/*
.register-form::after, .login-form::after{
  content:"";
  position: absolute;
  border-top:2px solid #1db6b6;
  border-right:2px solid #1db6b6;
  height:30%;
  width:50%;
  top:0;
  right:0;
} */

.register-label, .login-label{
  padding:5px 20px;
  margin:10px 0 0;
  font-size:16px;
  width:50%;
  position: relative;
}

.register-label{
  color:#1db6b6;
}

.login-label{
  color:#9bf09d;
}

/* label::before{
  content:"";
  position:absolute;
  border-bottom:2px solid #1db6b6;
  border-left:10px solid #1db6b6;
  bottom:25%;
  left:0;
  width:100%;
  height:70%;
} */

input{
  border:0;
  width:100%;
  padding:5px 10px;
  font-size:20px;
  border-bottom-left-radius:5px;
  border-top-right-radius:5px;

}

.register-input{
  border-bottom:2px solid #1db6b6;
  border-left:2px solid #1db6b6;
}

.login-input{
  border-bottom:2px solid #9bf09d;
  border-left:2px solid #9bf09d;
}

input:focus{
  outline:none;
  background:#333;
  border-bottom:2px solid white;
  border-left:2px solid white;
}

.error{
  margin: 20px auto 0;
  width: 100%;
  text-align: center;
  background:#F52E47;
  color:white;
  padding:10px;
}

.submit{
  padding:10px;
  margin:20px auto 0;
  font-size:18px;
  width:30%;
}
